// Breakpoints
$max-width: 1200px;

// Colors
$black: #191a23;
$gray: #f3f3f3;
$white: #fefefe;
$green: #b9ff66;

// Transitions
$transition_duration: 200ms;
$transition_function: cubic-bezier(0.1, 0.1, 0.2, 1);

// Borders
$border_radius: 14px;
$cardTemplate_borderRadius: 45px;

// Dimensions
$sectionTitle__title-fs: 40px;
$sectionTitle__description-fs: 18px;
