@use "../styles/normalize.module.scss";
@use "../styles/variables.scss" as vars;
@use "../styles/mixins" as mixins;

::selection {
  background-color: vars.$green;
  color: vars.$black;
}

html {
  font-family: var(--font-spaceGrotesk);
}

body {
  background-color: vars.$white;
}

.container {
  max-width: vars.$max-width;
  width: 100%;
  margin-inline: auto;
  padding-inline: 4rem;
  padding-block: 2.5rem;
}

.btn {
  padding-inline: 35px;
  padding-block: 20px;
  border-radius: 1rem;
  border: 2px solid transparent;
  @include mixins.my_transition(background-color, color, border);

  &::first-letter {
    text-transform: capitalize;
  }
}

.accordion__button {
  display: grid;
  place-content: center;
  padding: 0.5rem;
  border-radius: 100%;
  border: 1px solid vars.$black;
  @include mixins.my_transition(background-color, color, border);

  &:hover {
    background-color: vars.$black;
    color: vars.$white;
  }
}

.btn__filled {
  background-color: vars.$black;
  color: vars.$white;

  &:hover {
    background-color: transparent;
    border: 2px solid vars.$black;
    color: vars.$black;
  }
}

.btn__outlined {
  background-color: transparent;
  border: 2px solid vars.$black;

  &:hover {
    background-color: vars.$black;
    color: vars.$white;
  }
}

.btn__accent {
  background-color: vars.$green;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__container {
    display: flex;
  }

  &__elements {
    display: flex;
    align-items: center;
    gap: 40px;
    text-transform: capitalize;
  }

  &__links {
    color: vars.$black;
    position: relative;

    &::after {
      position: absolute;
      left: 0;
      bottom: -4px;
      content: "";
      width: 0%;
      height: 2px;
      opacity: 0;
      background-color: vars.$black;
      @include mixins.my_transition(width, opacity);
    }

    &:hover::after {
      width: 100%;
      opacity: 1;
    }
  }
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block: 70px;

  &__information {
    max-width: 50ch;
  }

  &__title {
    font-size: 60px;
    line-height: 77px;
    text-wrap: balance;
  }

  &__description {
    text-wrap: pretty;
    padding-block: 35px;
    font-size: 20px;
  }
}

.companies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  align-items: center;

  & > * {
    filter: grayscale(100%);
  }
}

.sectionTitle {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 40px;
  padding-block-start: 100px;
  padding-block-end: 70px;

  &__title {
    text-wrap: nowrap;
    font-size: vars.$sectionTitle__title-fs;
    padding-inline: 10px;
    background-color: vars.$green;
    border-radius: vars.$border_radius;
  }

  &__text {
    font-size: vars.$sectionTitle__description-fs;
    text-wrap: balance;
    max-width: 65ch;
  }
}

.cardTemplate {
  width: 100%;
  border-radius: vars.$cardTemplate_borderRadius;
  border: 2px solid vars.$black;
  box-shadow: 0 4px 0 0px vars.$black;
}

.services {
  display: grid;
  grid-template-columns: repeat((auto-fit, minmax(500px, 1fr)));
  gap: 40px;
}

.services__card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 310px;
  gap: 20px;

  padding: 50px;

  &__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 25px;
    text-wrap: pretty;
    padding: 4px;
    border-radius: vars.$border_radius;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: vars.$black;

    &--icon {
      background-color: vars.$black;
      color: vars.$green;
      padding: 0.25rem;
      border-radius: 100%;
      @include mixins.my_transition(rotate);
    }
    &:hover &--icon {
      rotate: -45deg;
    }
  }
  &__illustration {
    align-content: center;
    width: 90%;
  }
  &__image {
    width: 100%;
    // height: 100%;
    object-fit: cover;
  }
}

.services__card:nth-child(3n-2) {
  background-color: vars.$gray;

  .services__card__title {
    background-color: vars.$green;
  }
}
.services__card:nth-child(3n-1) {
  background-color: vars.$green;

  .services__card__title {
    background-color: vars.$gray;
  }
}
.services__card:nth-child(3n) {
  background-color: vars.$black;

  .services__card__title {
    background-color: vars.$gray;
  }

  .services__card__link {
    color: vars.$gray;

    &--icon {
      background-color: vars.$gray;
      color: vars.$black;
    }
  }
}

.cta {
  width: 100%;
  background-color: vars.$gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 60px;
  margin-block: 5rem;
  border-radius: vars.$cardTemplate_borderRadius;

  &__title {
    font-size: 30px;
  }

  &__text {
    padding-block: 26px;
    font-size: 18px;
    text-wrap: balance;
  }
}

.caseStudies {
  width: 100%;
  background-color: vars.$black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 70px;
  margin-block: 1rem;
  border-radius: vars.$cardTemplate_borderRadius;

  .caseStudy {
    color: vars.$gray;
    padding-inline: 60px;
    font-weight: 300;
    text-wrap: pretty;

    &__link {
      display: inline-flex;
      align-items: center;
      color: vars.$green;
      gap: 15px;
      margin-top: 20px;
      @include mixins.my_transition(rotate);

      &--icon {
        @include mixins.my_transition(rotate, background-color, color);
        border-radius: 100%;
      }

      &:hover .caseStudy__link--icon {
        background-color: #fff;
        color: vars.$black;
        rotate: -45deg;
      }
    }

    &:nth-child(2) {
      border-left: 1px solid vars.$gray;
      border-right: 1px solid vars.$gray;
    }
  }
}

.accordion > * {
  margin-bottom: 30px;
}

.accordion {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 25px;

    &--step {
      font-size: 60px;
    }
    &--text {
      font-size: 30px;
      text-wrap: pretty;
    }
  }
}

.separator {
  width: 100%;
  height: 1px;
  background-color: vars.$black;
  margin-block: 25px;
}

.accordion__item {
  padding-block: 40px;
  padding-inline: 60px;
  background-color: vars.$gray;
  @include mixins.my_transition(background-color);

  &--active {
    background-color: vars.$green;
  }
}

.team__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
}

.team__card {
  padding-block: 40px;
  padding-inline: 35px;

  &__header {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    &--image {
      width: 100px;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Responsive styles

@media (width <= 72rem) {
  .container {
    padding-inline: 2rem;
  }
}

@media (width <= 48rem) {
  .navbar__elements {
    display: none;
  }
}
