@use "../styles/normalize.module.scss";
@use "../styles/variables.scss" as vars;
@use "../styles/mixins" as mixins;

::selection {
  background-color: vars.$green;
  color: vars.$black;
}

html {
  font-family: var(--font-spaceGrotesk);
}

body {
  background-color: vars.$white;
}

.container {
  max-width: vars.$max-width;
  width: 100%;
  margin-inline: auto;
  padding-block: 2.5rem;
}

.btn {
  padding-inline: 35px;
  padding-block: 20px;
  border-radius: 1rem;
  text-transform: capitalize;
  border: 2px solid transparent;
  @include mixins.my_transition(background-color, color, border);
}

.btn__filled {
  background-color: vars.$black;
  color: vars.$white;

  &:hover {
    background-color: transparent;
    border: 2px solid vars.$black;
    color: vars.$black;
  }
}

.btn__outlined {
  background-color: transparent;
  border: 2px solid vars.$black;

  &:hover {
    background-color: vars.$black;
    color: vars.$white;
  }
}

.btn__accent {
  background-color: vars.$green;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__container {
    display: flex;
  }

  &__elements {
    display: flex;
    align-items: center;
    gap: 40px;
    text-transform: capitalize;
  }

  &__links {
    color: vars.$black;
    position: relative;

    &::after {
      position: absolute;
      left: 0;
      bottom: -4px;
      content: "";
      width: 0%;
      height: 2px;
      opacity: 0;
      background-color: vars.$black;
      @include mixins.my_transition(width, opacity);
    }

    &:hover::after {
      width: 100%;
      opacity: 1;
    }
  }
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block: 70px;

  &__information {
    max-width: 50ch;
  }

  &__title {
    font-size: 60px;
    line-height: 77px;
    text-wrap: balance;
  }

  &__description {
    text-wrap: pretty;
    padding-block: 35px;
    font-size: 20px;
  }
}

.companies {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    filter: grayscale(100%);
  }
}
